.btn-info:hover{
    background-color: rgba(253, 78, 75, 0.895);
    
}
canvas{
    animation-name:Filter;
animation-duration: 4s;
animation-iteration-count: infinite;

}
@keyframes Filter{
    from{
        box-shadow:1px 1px 30px rgb(76, 244, 241);
    }
    to{
        box-shadow: 1px 1px 30px rgb(0, 34, 113);
    }
}